<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDL Login</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles2.css">
    <!-- JS Files -->
    <script src="js/mainTwo.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/formCtrl.js"></script>
</head>

<body ng-app="formCtr" ng-controller="formController">
    <div class="login imgcontainerOne">
        <img src="img/img_avatar2.png" class="avatar">
        <br/>
        <h2 id="signHeader" align="center">Sign Up</h2>
        <form method="post" action="/register" class="formOne">
            <input required name="fullname" type="text" id="fullName" class="login" placeholder="Full Name" autofocus>
            <br>
            <input required name="username" type="text" id="memUser" class="login" placeholder="Username" ng-model="memUser">
            <br>
            <input required name="password" type="password" id="memPass" class="login" placeholder="Password" ng-model="memPass">
            <br>
            <span id="passError"></span>
            <br>
            <span id="passError1"></span>
            <br>
            <input required name="email" type="text" id="emailID" class="login" placeholder="Email Address">
            <span id="emailError"></span>
            <br>
            <input type="submit" class="button" value="Submit" class="logButton" onclick="pwdvalidate();validate();">
        </form>
    </div>
    <div class="options">
        <h4 align="center">
            <a href="/login" class="newUser">Already a user ?
            </a>
        </h4>
        <h4 align="center" id="forgotPass">
            <a href="#" ng-click="reset()">Forgot Password ?</a>
        </h4>
    </div>
    </div>
</body>

</html>