<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIT Digital Library</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
    <!-- JS Files -->
    <script src="js/materialize.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/formCtrl.js"></script>
</head>

<body ng-app="formCtr" ng-controller="formController">
    <!-- Nav Bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="col s12 m12 l12 nav-wrapper">
                <span style="margin-left:35px;" class="logo">
                    <img src="img/logo.jpg" height="60" width="60">
                </span>
                <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:25px;">
                    <li class="nav-list">
                        <input name="search" placeholder="Search for books">
                    </li>
                    <li class="nav-list">
                        <a href="/logout">Log Out</a>
                    </li>
                    <li class="nav-list">
                        <a href="/upload">Upload</a>
                    </li>
                    <li class="nav-list">
                        <a href="/about">About</a>
                    </li>
                </ul>
                <span class="right hide-on-large-only sb">Menu</span>
                <div>
                    <ul class="col s12 hidden small-menu right">
                        <li>
                            <a href="/logout">Log Out</a>
                        </li>
                        <li>
                            <a href="/upload">Upload</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Header -->
    <div class="container-fluid">
        <h1 class="main-header">The</h1>
        <h2 class="sub-header">Book Rack</h2>
        <!-- <h2 class="sub-header">Rack</h2> -->
    </div>
    <!-- Categories -->
    <section>
        <div class="container">
            <div class="row">
                <span>-</span>
                <h3 class="center" id="cat-header">Categories</h3>
                <span>-</span>
            </div>
        </div>

        <div class="categories-one">
            <div class="row">
                <div class="col offset-l1 l2 m6 s12 cat hoverable">
                    <a href="/it">
                        <img src="img/it-black.svg" width="100" height="100" title="it">
                    </a>
                </div>
                <div class="col offset-l2 l2 m6 s12 cat hoverable">
                    <a href="/civil">
                        <img src="img/civil-black.svg" width="90" height="90" title="civil">
                    </a>
                </div>
                <div class="col offset-l2 l2 m6 s12 cat hoverable">
                    <a href="/mech">
                        <img src="img/mech-black.svg" width="90" height="90" title="mech">
                    </a>
                </div>
            </div>
        </div>
        <div class="categories-name">
            <div class="row">
                <div class="col offset-l1 l2 m6 s12 center">
                    <h5>IT</h5>
                </div>
                <div class="col offset-l2 l2 m6 s12 center">
                    <h5>Civil</h5>
                </div>
                <div class="col offset-l2 l2 m6 s12 center">
                    <h5>Mechanical</h5>
                </div>
            </div>
        </div>

        <div class="categories-two">
            <div class="row">
                <div class="col offset-l1 l2 m6 s12 cat hoverable">
                    <a href="/eee">
                        <img src="img/eee-black.svg" width="90" height="90" title="eee">
                    </a>
                </div>
                <div class="col offset-l2 l2 m6 s12 cat hoverable">
                    <a href="/bio">
                        <img src="img/bio-black.svg" width="90" height="90" title="bio">
                    </a>
                </div>
                <div class="col offset-l2 l2 m6 s12 cat hoverable">
                    <a href="/chem">
                        <img src="img/chem-black.svg" width="90" height="90" title="chem">
                    </a>
                </div>
            </div>
        </div>
        <div class="categories-name">
            <div class="row">
                <div class="col offset-l1 l2 m6 s12 center">
                    <h5>Electrical</h5>
                </div>
                <div class="col offset-l2 l2 m6 s12 center">
                    <h5>Bio-Tech</h5>
                </div>
                <div class="col offset-l2 l2 m6 s12 center">
                    <h5>Chemical</h5>
                </div>
            </div>
        </div>
    </section>
</body>

</html>