<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Page</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles2.css">
    <!-- JS Files -->
    <script src="js/mainTwo.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/formCtrl.js"></script>
</head>

<body>
    <div class="login imgcontainerTwo">
        <h1>Upload Book</h1>
        <form action="http://127.0.0.1:3300/upload" method="post" class="formTwo">
            <input required type="text" class="login" name="title" placeholder="Title">
            <br>

            <input required type="text" class="login" name="author" placeholder="Author">
            <br>

            <input required type="text" class="login" name="publisher" placeholder="Publisher">
            <br>

            <input required type="text" class="login" name="category" placeholder="Category">
            <br>

            <input required type="text" class="login" name="edition" placeholder="Edition">
            <br>

            <input required type="text" class="login" name="year" placeholder="Year">
            <br>

            <input required type="text" class="login" name="pages" placeholder="Pages">
            <br>

            <input required type="text" class="login" name="size" placeholder="Size">
            <br>

            <input required type="text" class="login" name="price" placeholder="Price">
            <br>

            <input required type="text" class="login" name="dlink" placeholder="Download-link">
            <br>

            <input class="button" type="submit" value="Upload" class="logButton">
            <input class="button" type="reset" class="logButton">
        </form>
    </div>

</body>

</html>